# Dependencies
node_modules/
.pnp/
.pnp.js

# Next.js build output
.next/
out/
build/
dist/

# Testing
coverage/

# Misc
.DS_Store
*.pem
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo

# Old Next.js subfolder (can be deleted manually)
portfolio-next/
